---
//  Importar el componente `FeatureItem`
import FeatureItem from './FeatureItem.astro';

//!  Definir datos para las características
const features = [
  {
    iconSrc: "https://www.svgrepo.com/show/503138/webpack.svg",
    iconAlt: "Buscador Proveedores Icon",
    title: "Buscador Proveedores",
    description: "Herramienta para conectar empresas y proveedores de la industria en la región de Los Lagos."
  },
  {
    iconSrc: "https://www.svgrepo.com/show/503138/webpack.svg",
    iconAlt: "Buscador de Cursos Icon",
    title: "Buscador de Cursos I 4.0",
    description: "Plataforma para busqueda de cursos especializados en Industria 4.0 para el desarrollo de profesionales."
  },
  {
    iconSrc: "https://www.svgrepo.com/show/503138/webpack.svg",
    iconAlt: "Artículos de Interés Icon",
    title: "Artículos de interés",
    description: "Compendio de artículos relevantes sobre Industria 4.0, enfocados en ofrecer información útil a las empresas."
  },
  {
    iconSrc: "https://www.svgrepo.com/show/503138/webpack.svg",
    iconAlt: "Proyectos Destacados Icon",
    title: "Proyectos destacados",
    description: "Selección de proyectos sobresalientes en Industria 4.0, con información relevante para el sector empresarial."
  },
  {
    iconSrc: "https://www.svgrepo.com/show/503138/webpack.svg",
    iconAlt: "Proyectos Destacados Icon",
    title: "Investigaciones sobre la Industria Regional",
    description: "Acceso a investigaciones y estudios que analizan el impacto y desarrollo de la industria en la región de Los Lagos."
  },
  {
    iconSrc: "https://www.svgrepo.com/show/503138/webpack.svg",
    iconAlt: "Proyectos Destacados Icon",
    title: "Contenido Exclusivo en Industria 4.0",
    description: "Recursos especializados y contenido exclusivo sobre tendencias, innovaciones y mejores prácticas en Industria 4.0."
  },
];
---

<section>
  <div class="py-12 bg-white">
    <div class="container mx-auto px-4 sm:px-6 lg:px-8">
      
      <!-- Sección de título y descripción -->
      <div class="lg:text-center">
        <h2 class="font-heading mb-4 bg-yellow-500 inline-block px-4 py-2 rounded-lg md:w-64 md:mx-auto text-xs font-semibold tracking-widest text-black uppercase title-font">
         ¿ Qué es Nuevo los lagos ?
        </h2>
        <p class="font-heading mt-2 text-3xl leading-8 font-semibold tracking-tight text-gray-900 sm:text-4xl">
            Plataforma para fortalecer la industria regional
        </p>
        <p class="mt-4 max-w-2xl text-lg text-gray-500 lg:mx-auto">
            Iniciativa web desarrollada por Corfo Los Lagos, Universidad Santo Tomás, Asimet y Grupo Centinela.
        </p>
      </div>

      <!-- Grid de características -->
      <div class="mt-10  ">
        <dl class="space-y-10 md:space-y-0 md:grid md:grid-cols-2 md:gap-x-8 md:gap-y-10">
          {features.map((feature, index) => (
            <FeatureItem
              key={index}
              iconSrc={feature.iconSrc}
              iconAlt={feature.iconAlt}
              title={feature.title}
              description={feature.description}
            />
          ))}
        </dl>
      </div>
      
    </div>
  </div>
</section>
